<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="managedFusion.rewriter" type="ManagedFusion.Rewriter.Configuration.ManagedFusionRewriterSectionGroup" />
	</configSections>
	
	<managedFusion.rewriter xmlns="http://managedfusion.com/xsd/managedFusion/rewriter">
		<rules engine="Apache">
			<apache defaultFileName="rewriter.txt" />
		</rules>
	</managedFusion.rewriter>
	
	<appSettings>
		<add key="AdminEmail" value="nick@managedfusion.com" />
		<add key="SalesEmail" value="sales@managedfusion.com" />
		<add key="SupportEmail" value="support@managedfusion.com" />
		<add key="InfoEmail" value="info@managedfusion.com" />
		<add key="ErrorEmail" value="error@managedfusion.com" />
		<add key="NoReplyEmail" value="noreply@managedfusion.com" />
	</appSettings>
	
	<system.web>
		<compilation debug="false" defaultLanguage="c#" />
		
		<customErrors mode="RemoteOnly" defaultRedirect="/error/">
			<error statusCode="404" redirect="/error/not-found.aspx" />
		</customErrors>

	</system.web>
	
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" />
			</smtp>
		</mailSettings>
		<!-- defaultProxy>
			<proxy proxyaddress="http://127.0.0.1:8888" />      
		</defaultProxy -->
	</system.net>

	<system.webServer>
		<handlers>
			<add name="SendEmail" verb="POST" path="/send-email.ashx" type="SendEmailHandler" resourceType="Unspecified" />
			<add name="PaymentNotification" verb="POST" path="/products/payment-notification.ashx" type="PaymentNotificationHandler" />
		</handlers>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^managedfusion\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://managedfusion.com/{R:1}" />
                </rule>
                <rule name="Rewriter XSD">
                    <match url="xsd/managedFusion/rewriter" />
                    <action type="Rewrite" url="xsd/ManagedFusionRewriterConfigurationSchema.xsd" />
                </rule>
                <rule name="Resume" stopProcessing="true">
                    <match url="resume/?" />
                    <action type="Redirect" url="http://careers.stackoverflow.com/cv/837/export/pdf-preview" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
	</system.webServer>

</configuration>